@import "tailwindcss"; 
@font-face {
  font-family: 'TitleFont';
  src: url('./assets/fonts/Vality DEMO.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
} 
input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    box-shadow: 0 0 0px 1000px transparent inset !important;
    background-color: transparent !important;
    color: inherit !important;
    transition: background-color 9999s ease-out, color 9999s ease-out;
}
input:-internal-autofill-selected {
    background-color: transparent !important;
}
.title-font{
    font-family: "TitleFont";
}   

.top-shadow {
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}
